.list-item{
    display: flex;
    flex-wrap: wrap;
    /* margin: 20%; */
}
#result{
    background-color: rgb(99, 150, 243,0.3);
    /* opacity: 0.3; */
    position:fixed;
    border-radius: 4px;
    margin-left: 8.5%;
    margin-right: 9%;
    margin-top: 10px;
    /* display: inline-block; */
    /* right: -30px;
    left: -30px; */
}
.list-item li{
    list-style: none;
    margin:0px;
    /* display:list-item; */

}

.list-item img{
    padding: 6px;
    border-radius: 10%;
    /* width: 60px;  */
    /* height: 60px; */
} 