{% extends 'home.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/search_result.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% block manga_css %}
    {% endblock manga_css %}
{% endblock css %}

{% block homepage %}
    <div class=" container">
        <!-- <hr> -->
        <div class="container h-100" id="">
            <div class="d-flex justify-content-center h-100">
              <div class="searchbar" id="searchbar">
                <input class="search_input" id="search-form" type="text" name="" placeholder="Search any manga">
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                <div id="result" hidden>
                    <!-- <ul>
                        <li class="search-item">
                            <ul>
                                <li>Naruto</li>
                                <li>status: Finished</li>
                                <li>Air date: 2000</li>
                            </ul>
                            <img src="https://media.kitsu.io/anime/11/poster_image/tiny-47d378c5faf258491fd1a2025fc1507c.jpeg" alt="">
                        </li>
                       
                    </ul> -->
                </div>
              </div>
            </div>
          </div>

    </div>
    <h1>homepage block 1</h1>
    <div class="top-anime ">
        <h3>Top anime</h3>
    </div>
    <div class="top-manga">
        {% block topmanga %}
        
        {% endblock topmanga %}
    </div>

    <div>
        <a href="{% url 'anime:anime_home' %}"><button>Anime</button></a>
        <a href="{% url 'manga:manga_home' %}"><button> Manga </button></a>
        <div class="manga-div">
            {% block manga_block%}
            {% endblock %}
        </div>
    </div>
{% endblock homepage %}
{% block jsfiles %}
    <script src="{% static 'js/search.js' %}"></script>
    {% block manga_js %}
    {% endblock manga_js %}
{% endblock jsfiles %}