{%extends 'home.html' %}

{% block homepage %}
<div class="search container-xl">
    <form class="d-flex container">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
</div>



<div class="top-anime ">
    <h3>Top anime</h3>
</div>
<div class="top-manga">
    <h3>Top manga</h3>
</div>

<div>
    <a href="{% url 'anime:anime_home' %}"><button>Anime</button></a>
    <a href="{% url 'manga:manga_home' %}"><button> Manga </button></a>
    <div class="manga-div">
        {% block manga_block%}
        {% endblock %}
    </div>
</div>
{% endblock homepage %}